
* {
  box-sizing: border-box;
}

body {
  background:radial-gradient(#3498db, beige) fixed;
  text-align: center;
  font-family: 'Righteous', sans-serif;

}

section div {
  width: 25%;
  float: left;
  padding: 10px;
}

section div img {
  max-width: 100%;
  height: 200px;
  border: 10px solid silver;
  border-radius: 5%;
  cursor: pointer;
  transition: 0.8s;
}
section div img:hover{
  border: 10px solid #4b4075;
  transform: scale(1.2);

}

table {
  border-collapse: collapse;
  font-size: 80%;
  color: #4b4075;

}
h1{
    color:#4b4075;
    transition: 0.8s;
}
h1:hover{
    border: 2px solid #3498db;
    background-color: #4b4075;
    color: #3498db;
    transform: scale(1.2);
}

table, th, td {
  border: 1px solid black;
  padding: 3px 10px;
}
#element{
    display: block;
    margin: auto;
    padding-top: 120px;
}

#righttitle,#middletitle,#lefttitle{
    transition: 0.8s;
}
#righttitle:hover,#middletitle:hover,#lefttitle:hover{
transform: scale(1.8);
color: #4b4075;

}
#sentence{
font-size: 65%;
padding-top: 95px;
}

button{
  padding: 10px 20px;
  border: 2px solid #4b4075;
  background-color: #3498db;
  font-family: cursive;
  font-size: 100%;
  font-weight: bold;
  color: #4b4075;
  transition: 1s;
display: block;
margin-left: 810px;
cursor: pointer;

}
button:hover{
  border: 2px solid #3498db;
  background-color: #4b4075;
  color: #3498db;
  transform: rotate(360deg);

}